<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:macro name="inertial_pseudo">
        <inertial>
            <mass value="1"/>
            <inertia ixx="2" ixy="0.0" ixz="0.0"
                    iyy="2" iyz="0.0"
                    izz="2" />
        </inertial>
    </xacro:macro>  


</robot>