<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sledgehammer">

    <xacro:arg name="prefix" default=""/>

    <!-- chose hardware interface -->
    <xacro:arg name="use_mode_mock_hardware" default="false"/>
    <xacro:arg name="use_mode_gazebo" default="false"/>

    <!-- import robot -->
    <xacro:include filename="helper/base_robot.xacro"/>

    <!-- import hardware interface -->
    <xacro:if value="$(arg use_mode_mock_hardware)">
        <xacro:include filename="helper/ros2_control_hardware_interfaces/mock.ros2_control.xacro"/>
    </xacro:if>
    <xacro:unless value="$(arg use_mode_mock_hardware)">
        <xacro:if value="$(arg use_mode_gazebo)">
            <xacro:include filename="helper/ros2_control_hardware_interfaces/sim.ros2_control.xacro"/>
        </xacro:if>
        <xacro:unless value="$(arg use_mode_gazebo)">
            <xacro:include filename="helper/ros2_control_hardware_interfaces/real.ros2_control.xacro"/>
        </xacro:unless>
    </xacro:unless>

</robot>