<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="louis_bot" type="system">

        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
        </hardware>

       <joint name="shoulder">
            <!-- can use position or velocity port to connect a controller -->
            <command_interface name="position">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <!-- <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface> -->
            <state_interface name="position"/>
            <!-- <state_interface name="velocity"/> -->
        </joint>

        <joint name="elbow">
            <command_interface name="position">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <!-- <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface> -->
            <state_interface name="position"/>
            <!-- <state_interface name="velocity"/> -->
        </joint>

        <!-- <transmission name="transmission1">
            <plugin>transmission_interface/SimpleTransmission</plugin>
            <actuator name="shoulder_actuator" role="shoulder_actuator"/> 
            <joint name="shoulder" role="shoulder">
                31/30*w_s = 122/30*w_c
                <mechanical_reduction>${122/31}</mechanical_reduction>
                <offset>0.0</offset>
            </joint>
        </transmission>

        <transmission name="transmission1">
            <plugin>transmission_interface/SimpleTransmission</plugin>
            <actuator name="elbow_actuator" role="elbow_actuator"/>
            <joint name="elbow" role="elbow">
                <mechanical_reduction>4.0</mechanical_reduction>
                <offset>0.0</offset>
            </joint>
        </transmission> -->


    </ros2_control>
    
</robot>