<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="shoulder_interface" type="system">

        <hardware>
            <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin>
            <param name="can">can0</param>
        </hardware>

        <joint name="shoulder">
            <!-- can use position or velocity port to connect a controller -->
            <!-- why aren't the command_interface and state_interface tags required here when using ODriveHardwareInterface? -->
            <param name="node_id">0</param>
        </joint>

    </ros2_control>

    <ros2_control name="elbow_interface" type="system">

        <hardware>
            <plugin>base_package/RRBotSystemPositionOnlyHardware</plugin>
            <param name="example_param_hw_start_duration_sec">0</param>
            <param name="example_param_hw_stop_duration_sec">3.0</param>
            <param name="example_param_hw_slowdown">100</param>
        </hardware>

        <joint name="elbow">
            <command_interface name="position">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        
    </ros2_control>
    
</robot>