<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="shoulder_interface" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
        </hardware>

        <joint name="shoulder">
            <!-- can use position or velocity port to connect a controller -->
            <command_interface name="position">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <ros2_control name="elbow_interface" type="system">
        <hardware>
            <plugin>base_package/RRBotSystemPositionOnlyHardware</plugin>
            <param name="example_param_hw_start_duration_sec">0</param>
            <param name="example_param_hw_stop_duration_sec">3.0</param>
            <param name="example_param_hw_slowdown">100</param>
        </hardware>

        <joint name="elbow">
            <command_interface name="position">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position"/>
            <!-- <state_interface name="velocity"/> -->
        </joint>
    </ros2_control>
    
</robot>